<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="flaskr" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\python37\python.exe|d:\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>	
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="index.app" />
        <add key="PYTHONPATH" value="D:\WorkFile\Demo\Demo" />
        <add key="DJANGO_SETTINGS_MODULE" value="Demo.settings" />
    </appSettings>
</configuration>
