
{% extends "base_video.html" %}

{% block page_content%}
    <div style="float:left;width:90%;height:80%;margin-bottom:20px">
            <div class="main1" style="float:left;width:48%;margin-left:20px;margin-bottom:20px">
                <img src="static/img/kcy_camera.png" style="width:100%;height:80%;margin-top:50px">
            </div>
            <div class="main2" style="float:left;width:48%;margin-bottom:20px">
                <img src="static/img/kcy3d.gif" style="width:100%;height:80%;margin-top:50px">
            </div>
    </div>

{% endblock %}

